body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.center{
    margin: auto;
}
.fullscreen{
    width: 100vw;
}
.flex{
    display: flex;
}
.normalMargin{
    margin: 0 4em;
    width: calc(100vw - 8em);
}
.counterBalance{
    display: hidden;
}
.topBanner{
    background-color: white;
    position: relative;
    margin: 1em 0;
}
.navBar{
    width: 15%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 4em;
}
.navBar-item:hover{
    color: red;
    text-decoration: underline;
}
.navBar-dropDown{
    position: relative;
}
.dropDown-menu{
    display: none;
    position: absolute;
    top: 1em;
    z-index: 1;
    width: 8em;
    background-color: white;
    text-shadow: 1px 1px black;
}
.dropDown-item{
    margin: 1em 2em;
}
.navBar-logo{
    width: 8em;
    margin: 0 calc(50% - 4em);
}
.navBar-welcome{
    background: black;
    width: 100vw;
    padding: .5em 4em;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signIn, .join{
    color: yellow;
    font-size: 12px;
}
.hutRewards{
    display: flex;
    width: 16em;
    justify-content: space-between;
}
.hutRewards-logo{
    width: 8em;
}
.join:before{
    /* that divider thing, how do */
}
.navBar-divider{
    width: 100vw;
    height: 2px;
    background-color: yellow;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    /* https://www.cssmatic.com/box-shadow */
}
.footer{
    font-size: 8px;
    color: #333;
}
